 .u-section-1 {
  min-height: 645px;
}

.u-section-1 .u-group-1 {
  width: calc(((100% - 1140px) / 2) + 570px);
  left: 0;
  right: auto;
  min-height: 645px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-group-2 {
  width: 486px;
  min-height: 507px;
  margin: 39px auto 0 52px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  margin: 61px 22px 0 18px;
}

.u-section-1 .u-line-1 {
  width: 154px;
  height: 2px;
  transform-origin: left center 0;
  margin: 40px auto 0 27px;
}

.u-section-1 .u-text-2 {
  margin: 41px 20px 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  background-image: none;
  margin: 41px auto 50px 20px;
}

.u-section-1 .u-image-1 {
  width: 571px;
  height: 529px;
  box-shadow: 0 0 40px 0 rgba(0,0,0,0.2);
  object-position: 50% 16.54%;
  background-position: 50% 16.54%;
  margin: 116px calc(((100% - 1140px) / 2) + -1px) 0 auto;
}

.u-section-1 .u-group-3 {
  width: 459px;
  min-height: 54px;
  margin: -133px calc(((100% - 1140px) / 2) + 61px) 79px auto;
}

.u-section-1 .u-text-3 {
  font-style: italic;
  margin: 9px 8px 0 32px;
}

.u-section-1 .u-line-2 {
  height: 3px;
  transform-origin: right center 0px;
  width: 459px;
  margin: 8px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    width: calc(((100% - 940px) / 2) + 470px);
    min-height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-group-2 {
    width: 419px;
    min-height: 718px;
    margin-top: 15px;
    margin-bottom: -118px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    position: relative;
    margin-right: 36px;
    margin-left: 15px;
  }

  .u-section-1 .u-line-1 {
    width: 127px;
    margin-left: 22px;
  }

  .u-section-1 .u-text-2 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 16px;
  }

  .u-section-1 .u-image-1 {
    width: 503px;
    height: 351px;
    margin-top: 294px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-group-3 {
    width: 407px;
    margin-top: -881px;
    margin-right: calc(((100% - 1140px) / 2) + 116px);
    margin-bottom: 60px;
  }

  .u-section-1 .u-text-3 {
    position: relative;
    margin-left: 33px;
  }

  .u-section-1 .u-line-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: calc(((100% - 720px) / 2) + 360px);
    min-height: auto;
  }

  .u-section-1 .u-group-2 {
    width: 307px;
    margin-top: 42px;
    margin-left: calc(((100% - 1140px) / 2) + 212px);
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-right: 14px;
    margin-left: 11px;
  }

  .u-section-1 .u-line-1 {
    width: 97px;
    margin-left: 17px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 13px;
  }

  .u-section-1 .u-image-1 {
    width: 382px;
    margin-right: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-1 .u-group-3 {
    width: 338px;
    margin-right: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-1 .u-text-3 {
    margin-left: 73px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 616px;
  }

  .u-section-1 .u-group-1 {
    width: calc(((100% - 540px) / 2) + 420px);
    min-height: 645px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-2 {
    width: 375px;
    margin-top: 52px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-text-1 {
    margin-top: 45px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-line-1 {
    width: 91px;
    margin-top: 30px;
    margin-left: 19px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 30px;
    margin-right: 9px;
    margin-left: 19px;
  }

  .u-section-1 .u-btn-1 {
    margin-bottom: 45px;
    margin-left: 19px;
  }

  .u-section-1 .u-image-1 {
    width: 488px;
    margin-top: 4px;
    margin-right: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-group-3 {
    width: 410px;
    margin-top: -104px;
    margin-right: calc(((100% - 1140px) / 2) + 300px);
    margin-bottom: 18px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 7px;
    margin-left: 19px;
  }

  .u-section-1 .u-line-2 {
    margin-top: 9px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 431px;
  }

  .u-section-1 .u-group-1 {
    width: calc(((100% - 340px) / 2) + 307px);
  }

  .u-section-1 .u-group-2 {
    width: 283px;
    margin-top: 66px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-text-1 {
    margin-top: 32px;
    margin-right: 3px;
    margin-left: 8px;
  }

  .u-section-1 .u-line-1 {
    width: 77px;
    margin-top: 39px;
    margin-left: 8px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-btn-1 {
    margin-bottom: 32px;
    margin-left: 6px;
  }

  .u-section-1 .u-image-1 {
    height: 290px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-3 {
    width: 337px;
    margin-top: 81px;
    margin-right: calc(((100% - 1140px) / 2) + 400px);
    margin-bottom: 57px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 13px;
    margin-right: 0;
    margin-left: 6px;
  }

  .u-section-1 .u-line-2 {
    margin-top: 14px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-block-40e8-2 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-block-40e8-3 {
  position: absolute;
  left: calc(((100% - 1140px) / 2) + 148px);
  width: 55px;
  padding-top: 35px;
  top: auto;
  bottom: 369px;
  height: 85px;
}

.u-block-40e8-4 {
  position: absolute;
  width: 55px;
  padding-top: 35px;
  left: calc(((100% - 1140px) / 2) + 935px);
  top: auto;
  bottom: 369px;
  height: 85px;
}

@media (max-width: 1199px) {
  .u-block-40e8-3 {
    left: calc(((100% - 940px) / 2)  + 10px);
    bottom: 354px;
  }

  .u-block-40e8-4 {
    left: calc(((100% - 940px) / 2)  + 891px);
    bottom: 354px;
  }
}

@media (max-width: 991px) {
  .u-block-40e8-3 {
    left: calc(((100% - 720px) / 2)  + 16px);
    bottom: 386px;
  }

  .u-block-40e8-4 {
    left: calc(((100% - 720px) / 2)  + 672px);
    bottom: 386px;
  }
}

@media (max-width: 767px) {
  .u-block-40e8-3 {
    left: calc(((100% - 540px) / 2)  + -74px);
  }

  .u-block-40e8-4 {
    right: 0;
    left: calc(((100% - 540px) / 2)  + 582px);
  }
}

@media (max-width: 575px) {
  .u-block-40e8-3 {
    left: calc(((100% - 340px) / 2)  + -174px);
  }

  .u-block-40e8-4 {
    left: calc(((100% - 340px) / 2)  + 482px);
  }
}

.u-section-2-1 .u-sheet-1 {
  min-height: 903px;
}

.u-section-2-1 .u-group-1 {
  min-height: 153px;
  width: 800px;
  margin: 58px auto 0;
}

.u-section-2-1 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2-1 .u-text-1 {
  font-size: 2.25rem;
  margin: 21px 60px 0;
}

.u-section-2-1 .u-line-1 {
  width: 144px;
  height: 3px;
  transform-origin: right center 0;
  margin: 30px auto 15px 328px;
}

.u-section-2-1 .u-image-1 {
  width: 433px;
  height: 415px;
  filter: brightness(0.95);
  margin: 105px auto 0 137px;
}

.u-section-2-1 .u-rotation-parent-1 {
  width: 415px;
  height: 417px;
  margin: -416px 154px 0 auto;
}

.u-section-2-1 .u-image-2 {
  width: 417px;
  height: 415px;
  filter: brightness(0.85);
}

.u-section-2-1 .u-image-3 {
  width: 590px;
  height: 542px;
  object-position: 50% 17.01%;
  background-position: 50% 17.01%;
  box-shadow: 0 0 27px 0 rgba(0,0,0,0.45);
  filter: brightness(0.85);
  margin: -479px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 888px;
  }

  .u-section-2-1 .u-group-1 {
    width: 660px;
  }

  .u-section-2-1 .u-text-1 {
    position: relative;
    width: 614px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2-1 .u-line-1 {
    width: 119px;
  }

  .u-section-2-1 .u-image-1 {
    width: 357px;
    margin-left: 113px;
  }

  .u-section-2-1 .u-image-2 {
    width: 344px;
    margin: -415px 126px 0 auto;
  }

  .u-section-2-1 .u-image-3 {
    width: 486px;
    margin-top: -478px;
  }
}

@media (max-width: 991px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 920px;
  }

  .u-section-2-1 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2-1 .u-text-1 {
    margin-left: 22px;
    margin-right: 22px;
    width: 470px;
  }

  .u-section-2-1 .u-line-1 {
    width: 91px;
    margin-top: 28px;
  }

  .u-section-2-1 .u-image-1 {
    width: 273px;
    margin-left: 87px;
  }

  .u-section-2-1 .u-image-2 {
    width: 263px;
    margin-right: 97px;
  }

  .u-section-2-1 .u-image-3 {
    width: 373px;
  }
}

@media (max-width: 767px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 786px;
  }

  .u-section-2-1 .u-text-1 {
    margin-top: 20px;
    margin-left: 18px;
    margin-right: 18px;
    width: 441px;
  }

  .u-section-2-1 .u-line-1 {
    width: 85px;
    margin-top: 18px;
    margin-bottom: 20px;
  }

  .u-section-2-1 .u-image-1 {
    width: 256px;
    margin-left: 65px;
  }

  .u-section-2-1 .u-rotation-parent-1 {
    margin-right: 125px;
  }

  .u-section-2-1 .u-image-2 {
    width: 247px;
    margin-right: 72px;
  }

  .u-section-2-1 .u-image-3 {
    width: 349px;
  }
}

@media (max-width: 575px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 732px;
  }

  .u-section-2-1 .u-text-1 {
    font-size: 1.875rem;
    margin-left: 17px;
    margin-right: 17px;
    width: 317px;
  }

  .u-section-2-1 .u-line-1 {
    width: 72px;
    margin-top: 24px;
  }

  .u-section-2-1 .u-image-1 {
    width: 215px;
    margin-top: 20px;
    margin-left: 41px;
  }

  .u-section-2-1 .u-rotation-parent-1 {
    width: 340px;
    height: 267px;
    margin-top: -272px;
    margin-right: 0;
  }

  .u-section-2-1 .u-image-2 {
    width: 207px;
    margin-right: 46px;
  }

  .u-section-2-1 .u-image-3 {
    width: 293px;
  }
}

.u-section-2-2 .u-sheet-1 {
  min-height: 903px;
}

.u-section-2-2 .u-group-1 {
  min-height: 153px;
  width: 800px;
  margin: 58px auto 0;
}

.u-section-2-2 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2-2 .u-text-1 {
  font-size: 2.25rem;
  margin: 21px 60px 0;
}

.u-section-2-2 .u-line-1 {
  width: 144px;
  height: 3px;
  transform-origin: right center 0;
  margin: 30px auto 15px 328px;
}

.u-section-2-2 .u-image-1 {
  width: 433px;
  height: 415px;
  filter: brightness(0.95);
  margin: 105px auto 0 137px;
}

.u-section-2-2 .u-image-2 {
  width: 417px;
  height: 415px;
  filter: brightness(0.85);
  margin: -415px 153px 0 auto;
}

.u-section-2-2 .u-image-3 {
  width: 590px;
  height: 542px;
  object-position: 50% 17.01%;
  background-position: 50% 17.01%;
  box-shadow: 0 0 27px 0 rgba(0,0,0,0.45);
  filter: brightness(0.85);
  margin: -478px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2-2 .u-sheet-1 {
    min-height: 888px;
  }

  .u-section-2-2 .u-group-1 {
    width: 660px;
  }

  .u-section-2-2 .u-text-1 {
    position: relative;
    width: 614px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2-2 .u-line-1 {
    width: 119px;
  }

  .u-section-2-2 .u-image-1 {
    width: 357px;
    margin-left: 113px;
  }

  .u-section-2-2 .u-image-2 {
    width: 344px;
    margin-right: 126px;
  }

  .u-section-2-2 .u-image-3 {
    width: 486px;
  }
}

@media (max-width: 991px) {
  .u-section-2-2 .u-sheet-1 {
    min-height: 920px;
  }

  .u-section-2-2 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2-2 .u-text-1 {
    margin-left: 22px;
    margin-right: 22px;
    width: 470px;
  }

  .u-section-2-2 .u-line-1 {
    width: 91px;
    margin-top: 28px;
  }

  .u-section-2-2 .u-image-1 {
    width: 273px;
    margin-left: 87px;
  }

  .u-section-2-2 .u-image-2 {
    width: 263px;
    margin-right: 97px;
  }

  .u-section-2-2 .u-image-3 {
    width: 373px;
  }
}

@media (max-width: 767px) {
  .u-section-2-2 .u-sheet-1 {
    min-height: 786px;
  }

  .u-section-2-2 .u-text-1 {
    margin-top: 20px;
    margin-left: 18px;
    margin-right: 18px;
    width: 441px;
  }

  .u-section-2-2 .u-line-1 {
    width: 85px;
    margin-top: 18px;
    margin-bottom: 20px;
  }

  .u-section-2-2 .u-image-1 {
    width: 256px;
    margin-left: 65px;
  }

  .u-section-2-2 .u-image-2 {
    width: 247px;
    margin-right: 72px;
  }

  .u-section-2-2 .u-image-3 {
    width: 349px;
  }
}

@media (max-width: 575px) {
  .u-section-2-2 .u-sheet-1 {
    min-height: 732px;
  }

  .u-section-2-2 .u-text-1 {
    font-size: 1.875rem;
    margin-left: 17px;
    margin-right: 17px;
    width: 317px;
  }

  .u-section-2-2 .u-line-1 {
    width: 72px;
    margin-top: 24px;
  }

  .u-section-2-2 .u-image-1 {
    width: 215px;
    margin-left: 41px;
  }

  .u-section-2-2 .u-image-2 {
    width: 207px;
    margin-right: 46px;
  }

  .u-section-2-2 .u-image-3 {
    width: 293px;
  }
}

.u-section-2-3 .u-sheet-1 {
  min-height: 903px;
}

.u-section-2-3 .u-group-1 {
  min-height: 153px;
  width: 800px;
  margin: 58px auto 0;
}

.u-section-2-3 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2-3 .u-text-1 {
  font-size: 2.25rem;
  margin: 21px 60px 0;
}

.u-section-2-3 .u-line-1 {
  width: 144px;
  height: 3px;
  transform-origin: right center 0;
  margin: 30px auto 15px 328px;
}

.u-section-2-3 .u-image-1 {
  width: 433px;
  height: 415px;
  filter: brightness(0.95);
  margin: 105px auto 0 137px;
}

.u-section-2-3 .u-image-2 {
  width: 417px;
  height: 415px;
  filter: brightness(0.85);
  margin: -415px 153px 0 auto;
}

.u-section-2-3 .u-image-3 {
  width: 590px;
  height: 542px;
  object-position: 50% 17.01%;
  background-position: 50% 17.01%;
  box-shadow: 0 0 27px 0 rgba(0,0,0,0.45);
  margin: -478px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2-3 .u-sheet-1 {
    min-height: 888px;
  }

  .u-section-2-3 .u-group-1 {
    width: 660px;
  }

  .u-section-2-3 .u-text-1 {
    position: relative;
    width: 614px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2-3 .u-line-1 {
    width: 119px;
  }

  .u-section-2-3 .u-image-1 {
    width: 357px;
    margin-left: 113px;
  }

  .u-section-2-3 .u-image-2 {
    width: 344px;
    margin-right: 126px;
  }

  .u-section-2-3 .u-image-3 {
    width: 486px;
    filter: brightness(0.85);
  }
}

@media (max-width: 991px) {
  .u-section-2-3 .u-sheet-1 {
    min-height: 920px;
  }

  .u-section-2-3 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2-3 .u-text-1 {
    margin-left: 22px;
    margin-right: 22px;
    width: 470px;
  }

  .u-section-2-3 .u-line-1 {
    width: 91px;
    margin-top: 28px;
  }

  .u-section-2-3 .u-image-1 {
    width: 273px;
    margin-left: 87px;
  }

  .u-section-2-3 .u-image-2 {
    width: 263px;
    margin-right: 97px;
  }

  .u-section-2-3 .u-image-3 {
    width: 373px;
  }
}

@media (max-width: 767px) {
  .u-section-2-3 .u-sheet-1 {
    min-height: 786px;
  }

  .u-section-2-3 .u-text-1 {
    margin-top: 20px;
    margin-left: 18px;
    margin-right: 18px;
    width: 441px;
  }

  .u-section-2-3 .u-line-1 {
    width: 85px;
    margin-top: 18px;
    margin-bottom: 20px;
  }

  .u-section-2-3 .u-image-1 {
    width: 256px;
    margin-left: 65px;
  }

  .u-section-2-3 .u-image-2 {
    width: 247px;
    margin-right: 72px;
  }

  .u-section-2-3 .u-image-3 {
    width: 349px;
  }
}

@media (max-width: 575px) {
  .u-section-2-3 .u-sheet-1 {
    min-height: 732px;
  }

  .u-section-2-3 .u-text-1 {
    font-size: 1.875rem;
    margin-left: 17px;
    margin-right: 17px;
    width: 317px;
  }

  .u-section-2-3 .u-line-1 {
    width: 72px;
    margin-top: 24px;
  }

  .u-section-2-3 .u-image-1 {
    width: 215px;
    margin-left: 41px;
  }

  .u-section-2-3 .u-image-2 {
    width: 207px;
    margin-right: 46px;
  }

  .u-section-2-3 .u-image-3 {
    width: 293px;
  }
}
